div {
   text-align: center;
   margin-top: 20%;
   font-size: large;
}

ion-card {
   width: 30%;
   height: 20%;
   font-size: smaller;
   text-align: center;
}

strong {
   padding-left: 30%;
}

p{
   font-weight: bold;
}

button {
   margin-left: 13%;
}



